<template>
  <div id="app">
    <cart-button/>

    <main>
      <transition name="fade"
                  mode="out-in"
      >
        <router-view/>
      </transition>
    </main>
  </div>
</template>

<script>
import CartButton from "./cart-button/cart-button";

export default {
  name: "App",
  components: {
    CartButton
  }
};
</script>

<style lang="scss" scoped>
#app {
  height: 100vh;
  overflow-x: hidden;
}

// Animation
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY($spacing);
}

.fade-enter-active,
.fade-leave-active {
  transition: all ease 0.3s;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
  transform: translateY(0);
}
</style>
