<template>
  <button class="go-to-shop-button"
          @click="goToShop()"
          :style="{
              'color': color
            }"
  >
    <md-icon class="icon">keyboard_arrow_left</md-icon> Shop
  </button>
</template>

<script>
  import {MdIcon} from '@/components';

  export default {
    components: {
      MdIcon
    },
    props: {
      color: {
        type: String,
        default: ''
      },
    },
    methods: {
      goToShop() {
        this.$router.push({
          name: "shop"
        });
      }
    },
  }
</script>

<style lang="scss" scoped>
  .go-to-shop-button {
    $button-font-size: 1.5rem;
    display: flex;
    margin-top: $spacing * 2;
    margin-left: $spacing * 2;
    align-items: center;
    font-size: $button-font-size;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 200;

    .icon {
      font-size: $button-font-size;
    }
  }
</style>
