<template>
  <button class="icon-button"
          @click="clickHandler($event)"
  >
    <md-icon class="icon"
             :theme="iconTheme"
             :style="{
                'color': color
             }"
             :icon="iconName"

    >
      <slot />
    </md-icon>
  </button>
</template>

<script>
  import { MdIcon } from '@/components';

  export default {
    name: 'icon-button',
    components: {
      MdIcon
    },
    props: {
      color: {
        type: String,
        default: '#000000'
      },
      iconTheme: {
        type: String,
        default: ''
      },
      icon: {
        type: String,
        default: ''
      }
    },
    computed: {
      iconName() {
        let iconName = this.icon;
        if(!this.icon)  {
          iconName = this.$slots.default[0].text.trim();
        }
        return iconName;
      }
    },
    methods: {
      clickHandler($event) {
        this.$emit('click', $event);
      }
    },
  }
</script>

<style lang="scss" scoped>
  .icon-button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease .3s;
    padding: $spacing / 2;

    &:hover {
      background-color: #eaeaea20;
    }
  }

  .icon {
    font-size: $clickable-height;
  }
</style>
