<template>
  <div class="shopping-cart-button"
       :class="{
          'is-in-cart': isInCart
       }"
  >
    <icon-button @click="addToCart()"
                 color="white"
                 :icon="icon"
    />
  </div>
</template>

<script>
  import IconButton from './icon-button';

  export default {
    components: {
      IconButton
    },
    props: {
      isInCart: {
        type: Boolean,
        default: false
      },
    },
    computed: {
      icon() {
        return this.isInCart ? 'done' : 'add_shopping_cart';
      }
    },
    methods: {
      addToCart() {
        if (this.isInCart) {
          this.$emit('remove');
        } else {
          this.$emit('add');
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .wish-list-button {

  }

  .is-in-wish-list {

  }
</style>
