<template>
  <div class="wish-list-button"
       :class="{
          'is-in-wish-list': isInWishList
       }"
  >
    <icon-button @click="addToWishList()"
                 :icon-theme="iconTheme"
                 :color="color"
    >
      favorite
    </icon-button>
  </div>
</template>

<script>
import IconButton from './icon-button';

  export default {
    components: {
      IconButton
    },
    props: {
      isInWishList: {
        type: Boolean,
        default: false
      },
    },
    computed: {
      color() {
        return this.isInWishList ? 'pink' : 'white'
      },
      iconTheme() {
        return this.isInWishList ? '' : 'outline';
      }
    },
    methods: {
      addToWishList() {
        if (this.isInWishList) {
          this.$emit('remove');
        } else {
          this.$emit('add');
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.wish-list-button {

}

.is-in-wish-list {

}
</style>
