<template>
  <div class="check-box">
    <input :id="uid"
           type="checkbox"
           v-model="$value"
    >
    <label :for="uid">
      {{ label }}
    </label>
  </div>
</template>

<script>
  import { uid } from '@/utils';

  export default {
    model: {
      prop: 'value',
      event: 'change'
    },
    data() {
      return {
        uid: uid('check-box_')
      }
    },
    props: {
      value: {
        type: Boolean,
        default: false
      },
      label: {
        type: String,
        default: 'Checkbox'
      }
    },
    computed: {
      $value: {
        get() {
          return this.value;
        },
        set(newValue) {
          this.$emit('change', newValue);
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .check-box {
    label {
      font-size: 1.5rem;
      display: inline-block;
      margin-left: $spacing / 4;
      cursor: pointer;
    }
  }
</style>
