<template>
  <div class="gender-selector">
    <span class="gender-label">Gender</span>
    <div class="radio-button">
      <input id="radio-male"
             type="radio"
             value="male"
             v-model="gender"
      >
      <label for="radio-male">
        Male
      </label>
    </div>
    <div class="radio-button">
      <input id="radio-female"
             type="radio"
             value="female"
             v-model="gender"
      >
      <label for="radio-female">
        Female
      </label>
    </div>
  </div>
</template>

<script>
  export default {
    model: {
      prop: 'value',
      event: 'change'
    },
    props: {
      value: {
        type: String,
        default: "male"
      },
    },
    computed: {
      gender: {
        get() {
          return this.value;
        },
        set(gender) {
          this.$emit('change', gender);
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.gender-label {
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: $spacing / 4;
  display: block;
}

.radio-button {
  label {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: $spacing / 4;
    cursor: pointer;
  }

  input {
    outline: 0;
  }
}
</style>
