<template>
  <div class="shop-item" @click="goToItem()">
    <div class="album-art"
         :style="{
           'background-image': `url('${image}')`,
           'color': color
         }"
    >
    </div>
    <div class="meta">
      <div class="track-name"
           :class="{
             'to-long': item.name.length > 29
           }"
      >
        {{ item.name }}
      </div>
      <div class="artist-name">
        {{ artists }}
      </div>
    </div>
    <div class="remove-button" v-if="removable">
      <icon-button @click.prevent.stop="removeHandler()">
        close
      </icon-button>
    </div>
  </div>
</template>
<script>
  import {IconButton} from '@/components';
  import {combineArtistsToString} from "@/utils";
  import {Track} from "@/model";

  export default {
    components: {
      IconButton
    },
    props: {
      item: {
        type: Track,
        default() {
          return new Track({
            id: -1,
            name: "Track",
            price: "0.00",
            image: "",
            color: "",
            artists: [
              new Artist({
                id: -1,
                name: "Artist"
              })
            ]
          });
        }
      },
      removable: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      image() {
        if (!this.item.image) {
          return;
        }
        return require(`@/assets/${this.item.image}`);
      },
      artists() {
        return combineArtistsToString(this.item.artists);
      },
      color() {
        if (this.item.color) {
          return `${this.item.color}50`;
        } else {
          return `#00000030`;
        }
      }
    },
    methods: {
      goToItem() {
        this.$router.push({
          name: "item",
          params: {
            id: this.item.id
          }
        });
      },
      removeHandler() {
        this.$emit('remove', this.item.id);
      }
    }
  };
</script>

<style lang="scss" scoped>
  $item-width: 300px;

  .shop-item {
    width: $item-width;
    cursor: pointer;
    position: relative;

    &:hover {
      .remove-button {
        opacity: 1;
      }
    }
  }

  .album-art {
    box-shadow: 0 0 100px 10px;
    width: $item-width;
    height: $item-width;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: $spacing;
    transition: box-shadow ease 1s 0.1s;
    position: relative;
    z-index: 1;
  }

  .meta {
    overflow: hidden;
  }

  .track-name,
  .artist-name,
  .price {
    z-index: 0;
    position: relative;
    line-height: 1.25rem;
    vertical-align: middle;
    white-space: nowrap;
    width: $item-width;
  }

  .to-long {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 1.25rem;
      width: 100%;
      background: linear-gradient(to right, transparent 40%, white);
    }
  }

  .track-name {
    font-size: 1.25rem;
  }

  .artist-name {
    color: #777;
  }

  .price {
    color: #aaa;
  }

  .remove-button {
    opacity: 0;
    position: absolute;
    top: $spacing;
    right: $spacing;
    z-index: 100;
    background-color: white;
    border-radius: 50%;
    height: $spacing * 2;
    width: $spacing * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity ease .2s;
  }
</style>
