<template>
  <i class="material-icons">
    {{ iconName }}
  </i>
</template>
<script>
export default {
  name: "md-icon",
  props: {
    theme: {
      type: String,
      default: ""
    },
    icon: {
      type: String,
      default: ''
    }
  },
  computed: {
    iconName() {
      let iconName = this.icon;
      if (!iconName) {
        iconName = this.$slots.default[0].text.trim();
      }
      if (!this.theme) {
        return iconName;
      } else {
        return `${iconName}_${this.theme}`
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
