<template>
  <div class="shop-browser-page">

    <h1>Music-Shop <span>// Only the finest music</span></h1>

    <transition-group tag="div"
                      :css="false"
                      appear
                      @before-enter="beforeEnter"
                      @enter="enter"
                      @leave="leave"
    >
      <shop-item v-for="(item, index) in items"
                 :key="item.id"
                 :data-index="index"
                 :item="item"
      />
    </transition-group>

  </div>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import {TweenLite} from "gsap";

  import {ShopItem} from "@/components";

  export default {
    components: {
      ShopItem
    },
    computed: {
      ...mapGetters("shop", ["items"])
    },
    methods: {
      ...mapActions("shop", ["fetchItems"]),
      beforeEnter: function (el) {
        el.style.opacity = 0;
        el.style.transform = "scale(1.1)";
      },
      enter: function (el, done) {
        let delay = el.dataset.index * 60;
        setTimeout(function () {
          TweenLite.to(el, .3, {
            opacity: 1,
            scale: 1,
            onComplete: done
          });
        }, delay);
      },
      leave: function (el, done) {
        let delay = el.dataset.index * 50;
        setTimeout(function () {
          TweenLite.to(el, 0.5, {
            opacity: 0,
            onComplete: done
          });
        }, delay);
      }
    },
    async created() {
      await this.fetchItems();
    }
  };
</script>

<style lang="scss" scoped>
  .shop-browser-page {
    padding-top: $spacing * 4;
    padding-left: $spacing * 4;
    padding-right: $spacing * 4;
    padding-bottom: 300px;

    > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: $spacing * 4;
      grid-column-gap: $spacing * 4;
      align-items: center;

      > div {
        will-change: opacity;
      }
    }
  }

  h1 {
    font-size: 3rem;
    margin-bottom: $spacing * 4;
    text-transform: uppercase;

    span {
      font-size: 3rem;
      color: #dadada;
      text-transform: uppercase;
    }
  }
</style>
