<template>
  <div class="cart-page">
    <go-to-shop-button />

    <div class="tabs">
      <router-link :to="{ name: 'cart' }">
        Cart
      </router-link>
      <router-link :to="{ name: 'wish-list' }">
        Wish-List
      </router-link>
    </div>

    <div class="tab-view">
      <transition :name="transitionName"
                  mode="out-in"
      >
        <keep-alive>
          <component :is="$route.name"
          />
        </keep-alive>
      </transition>
    </div>
  </div>
</template>

<script>

import { MdIcon, GoToShopButton } from '@/components';

import CartList from './_components/cart-list';
import WishList from './_components/wish-list';

export default {
  components: {
    cart: CartList,
    wishList: WishList,
    MdIcon,
    GoToShopButton
  },
  data() {
    return {
      transitionName: ''
    }
  },
  watch: {
    $route() {
      if (this.$route.name === 'cart') {
        this.transitionName = 'slide-right';
      } else if (this.$route.name === 'wish-list') {
        this.transitionName = 'slide-left';
      }
    }
  },
  methods: {
    goToShop() {
      this.$router.push({
        name: 'shop'
      })
    }
  },
};
</script>

<style lang="scss" scoped>
  .back-to-shop {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: $spacing * 2;
    margin-left: $spacing * 2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .tabs {
    display: flex;
    padding-left: $spacing * 2;
    margin-top: $spacing * 2;
    margin-bottom: $spacing * 4;

    a {
      font-size: 2rem;
      color: black;
      text-decoration: none;
      margin-right: $spacing * 2;
      text-transform: uppercase;

      &.router-link-exact-active {
        text-decoration: line-through;
      }
    }
  }

  .tab-view {
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
  }


  // Animation

  // left slide
  .slide-left-enter {
    transform: translateX(100%);
  }

  .slide-left-leave-to {
    transform: translateX(-100%);
  }

  .slide-left-enter-active,
  .slide-left-leave-active,
  .slide-right-enter-active,
  .slide-right-leave-active {
    transition: transform ease .2s;
  }


  // right slide
  .slide-right-enter {
    transform: translateX(-100%);
  }

  .slide-right-leave-to {
    transform: translateX(100%);
  }

</style>
