@import "material-design-icons/iconfont/material-icons.css";
@import "global";

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-family: $font-family;
}

 body {
   font-family: $font-family;
   font-size: $font-size;
   overflow: hidden;
 }


 button {
   background-color: transparent;
   border: 0;
   cursor: pointer;
   outline: 0;
 }
