<template>
  <transition name="slide">
    <router-link :to="{ name: 'cart' }"  v-show="shouldShow">
      <div class="cart-button">
        <md-icon class="icon">
          shopping_cart
        </md-icon>
        <div class="count" v-if="cartCount > 0">
          {{ cartCount }}
        </div>
      </div>
    </router-link>
  </transition>
</template>

<script>
  import {mapGetters} from 'vuex';

  import {MdIcon} from "@/components";

  export default {
    components: {
      MdIcon
    },
    computed: {
      ...mapGetters('cart', ['cart']),
      shouldShow() {
        let hiddenRoutes = ['cart', 'wish-list'];

        return hiddenRoutes.indexOf(this.$route.name) === -1;
      },
      cartCount() {
        return this.cart.length;
      }
    },
  };
</script>

<style lang="scss" scoped>
  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-size: 2rem;
    color: white;
  }

  .cart-button {
    display: flex;
    position: absolute;
    right: $spacing * 2;
    top: $spacing;
    z-index: $navigation-z-index;
    background-color: black;
    width: $spacing * 4;
    height: $spacing * 4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    .icon {
      vertical-align: middle;
      line-height: $clickable-height;
      font-size: 2rem;
    }

  }

  .count {
    position: absolute;
    bottom: $spacing * .75;
    right: $spacing * .75;
    height: $spacing;
    width: $spacing;
    font-size: 1rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    line-height: $spacing;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
  }

  // Animation
  .slide-enter,
  .slide-leave-to {
    transform: translateX(100%)
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all ease .3s;
  }

  .slide-leave,
  .slide-enter-to {
    transform: translateX(0);
  }
</style>
