<template>
  <div class="cart-list">
    <div class="summary">
      <h2>Total price</h2>

      <span class="total-price">
        {{ totalPrice }} $
      </span>

      <button class="check-out" @click="goToCheckout()">
        Checkout <md-icon>keyboard_arrow_right</md-icon>
      </button>
    </div>

    <div class="item-list" v-if="cart.length > 0">
      <shop-item v-for="item in cart"
                 :key="item.id"
                 :item="item"
                 :removable="true"
                 @remove="remove(item.id)"
      >
      </shop-item>
    </div>
    <div class="empty-shopping-cart"
         v-else
    >
      No items in cart.
    </div>

  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  import {ShopItem, MdIcon} from '@/components';

  export default {
    components: {
      ShopItem,
      MdIcon
    },
    computed: {
      ...mapGetters("cart", ["cart"]),
      totalPrice() {
        return this.cart.reduce((acc, item) => {
          return acc + parseFloat(item.price);
        }, 0);
      }
    },
    methods: {
      ...mapActions("cart", ["remove"]),
      goToCheckout() {
        this.$router.push({
          name: 'checkout'
        });
      }
    }
  };
</script>

<style lang="scss" scoped>
  .cart-list {
    padding-bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .item-list {
    flex-grow: 1;
    grid-area: item-list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $spacing * 2;
    grid-column-gap: $spacing * 2;
  }

  .summary {
    width: 500px;
    background-color: #f3f3f3;
    padding: $spacing * 4;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: $spacing * 4;


    h2 {
      font-size: 4rem;
      color: #dadada;
    }

    .total-price {
      display: block;
      margin-top: $spacing * 2;
      font-size: 4rem;
    }

    .check-out {
      font-size: 1.5rem;
      text-transform: uppercase;
      background-color: black;
      color: white;
      letter-spacing: 2px;
      padding: $spacing / 2;
      margin-top: $spacing * 2;
      display: flex;
      align-items: center;
    }
  }

  .empty-shopping-cart {
    flex-grow: 1;
    font-size: 3rem;
    text-transform: uppercase;
    color: #eaeaea;
  }
</style>
