<template>
  <div class="wish-list">

    <div class="list"
         v-if="wishList.length > 0"
    >
      <shop-item v-for="item in wishList"
                 :key="item.id"
                 :item="item"
                 :removable="true"
                 @remove="remove(item.id)"
      >
      </shop-item>
    </div>

    <div class="no-items"
         v-else
    >
      No items in Wish-List.
    </div>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  import {ShopItem} from '@/components'

  export default {
    components: {
      ShopItem
    },
    computed: {
      ...mapGetters("wishList", ["wishList"])
    },
    methods: {
      ...mapActions("wishList", ["remove"])
    },
  };
</script>

<style lang="scss" scoped>
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $spacing;
  }

  .no-items {
    font-size: 3rem;
    text-transform: uppercase;
    color: #eaeaea;
  }
</style>
