<template>
  <div class="checkout-page">
    <go-to-shop-button />

    <div class="form-container">
      <div class="form">
        <div class="row">
          <div class="text-field">
            <label for="email">
              E-Mail
            </label>
            <input id="email"
                   type="email"
                   v-model="form.email"
            >
          </div>
        </div>
        <div class="row">
          <div class="text-field">
            <label for="first-name">
              First name
            </label>
            <input id="first-name"
                   type="text"
                   v-model="form.firstName"
            >
          </div>
        </div>
        <div class="row">
          <div class="text-field">
            <label for="last-name">
              Last name
            </label>
            <input id="last-name"
                   type="text"
                   v-model="form.lastName"
            >
          </div>
        </div>
        <div class="row">
          <div class="text-field">
            <label for="address">
              Street
            </label>
            <input id="address"
                   type="text"
                   v-model="form.address.street"
            >
          </div>
        </div>
        <div class="row zip-city">
          <div class="text-field">
            <label for="zip">
              ZIP
            </label>
            <input id="zip"
                   type="text"
                   v-model="form.address.zip"
            >
          </div>
          <div class="text-field">
            <label for="city">
              City
            </label>
            <input id="city"
                   type="text"
                   v-model="form.address.city"
            >
          </div>
        </div>
        <div class="row">
          <check-box v-model="form.subscribeToNewsletter"
                     label="Subscribe to Newsletter"
          />
        </div>
        <div class="row">
          <gender-selector v-model="form.gender" />
        </div>
        <div class="row">
          <button class="submit-button">
            Checkout
          </button>
        </div>
      </div>
    </div>

    <pre>
      {{ form }}
    </pre>
  </div>
</template>

<script>
  import {MdIcon, CheckBox, GenderSelector, GoToShopButton} from '@/components';

  export default {
    components: {
      MdIcon,
      GenderSelector,
      CheckBox,
      GoToShopButton
    },
    data() {
      return {
        form: {
          email: '',
          firstName: '',
          lastName: '',
          address: {
            street: '',
            zip: '',
            city: ''
          },
          subscribeToNewsletter: true,
          gender: 'male'
        }
      }
    },
    methods: {
      goToShop() {
        this.$router.push({
          name: 'shop'
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .back-to-shop {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: $spacing * 2;
    margin-left: $spacing * 2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .form-container {
    width: 100vw;
    padding-left: $spacing * 2;
    margin-top: $spacing * 4;
    display: flex;
    justify-content: center;
  }

  .row {
    margin-bottom: $spacing;
  }

  .text-field {
    position: relative;

    label {
      display: block;
      margin-bottom: $spacing / 4;
      color: #aaa;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      font-size: 2rem;
      padding-left: $spacing / 2;
      padding-right: $spacing / 2;
      padding-top: $spacing / 4;
      padding-bottom: $spacing / 4;
      border-radius: 3px;
      outline: 0;
      border: 0;
      background-color: #eaeaea;
    }
  }

  .zip-city {
    display: flex;

    #zip {
      width: 6rem;
      margin-right: $spacing;
    }
  }

  .submit-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    padding-left: $spacing / 2;
    padding-right: $spacing / 2;
    padding-top: $spacing / 4;
    padding-bottom: $spacing / 4;
  }
</style>
