<template>
  <div class="shop-item-page">
    <!--<div class="blurred"-->
         <!--:style="{-->
          <!--'background-image': image-->
          <!--}"-->
    <!--&gt;-->
    <!--</div>-->

    <go-to-shop-button :color="color"
                       class="shop-button"
    />

    <transition name="slide-in-up" appear>
      <div class="banner"
          :style="{
            'background-color': color
          }"
      >
        <transition name="fade-in" appear>
          <div class="add-to-cart">

            <wish-list-button @add="addToWishList(currentItem)"
                              @remove="removeFromWishList(currentItem.id)"
                              :is-in-wish-list="isInWishList"
            />

            <shopping-cart-button @add="addToCart(currentItem)"
                                  @remove="removeFromCart(currentItem.id)"
                                  :is-in-cart="isInCart"
            />
          </div>
        </transition>
      </div>
    </transition>

    <div class="content">
      <transition name="slide-in-left" appear>
        <div class="album-art"
          :style="{
            'background-image': image
          }"
        >
        </div>
      </transition>

      <transition name="fade-in" appear>
        <div class="meta">
          <div class="top"
              :style="{
                'color': color
              }"
          >
            <div class="track-name">
              {{ currentItem.name }}
            </div>
          </div>

          <div class="bottom">
            <div class="artists">
              {{ artists }}
            </div>
            <div class="price">
              {{ currentItem.price }} $
            </div>
            <div class="preview">
              <div class="play-button">
                <icon-button color="white">
                  play_arrow
                </icon-button>
              </div>
              <div class="track">
                <figure class="bar"
                     v-for="height in createBarArray"
                     :style="{
                      'height': height
                     }"
                >
                </figure>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { combineArtistsToString } from "@/utils";

import { MdIcon, IconButton, WishListButton, ShoppingCartButton, GoToShopButton } from "@/components";

export default {
  components: {
    MdIcon,
    IconButton,
    WishListButton,
    ShoppingCartButton,
    GoToShopButton
  },
  computed: {
    ...mapGetters("shop", ["currentItem"]),
    ...mapGetters("cart", ["cart"]),
    ...mapGetters("wishList", ["wishList"]),
    image() {
      return `url('${require(`@/assets/${this.currentItem.image}`)}')`;
    },
    color() {
      return this.currentItem.color || "#2A2A2A";
    },
    artists() {
      return combineArtistsToString(this.currentItem.artists);
    },
    isInWishList() {
      return this.hasInList(this.wishList);
    },
    isInCart() {
      return this.hasInList(this.cart);
    },
    createBarArray() {
      let barArray = [];
      for (let i = 1; i <= 88; i++) {
        let sinModifier = 3;
        let sin = Math.abs(Math.sin(sinModifier * i)) * 40;
        let random = Math.random() * 40 + 10;

        barArray.push(sin + random + '%');
      }
      return barArray;
    }
  },
  methods: {
    ...mapActions("shop", [
      "findById"
    ]),
    ...mapActions("cart", {
      addToCart: 'add',
      removeFromCart: 'remove'
    }),
    ...mapActions("wishList", {
      addToWishList: 'add',
      removeFromWishList: 'remove'
    }),
    hasInList(list) {
      let item = list.find(item => item.id === this.currentItem.id);
      return !!item;
    }
  },
  created() {
    let id = parseInt(this.$route.params.id, 10);
    this.findById(id);
  }
};
</script>

<style lang="scss" scoped>
  .shop-button {
    position: absolute;
    top: 0;
    left: 0;
  }

.shop-item-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  /*background-color: #555;*/
}

.blurred {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(100px);
}

.banner {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 50vh;
  width: 100vw;

  .add-to-cart {
    position: absolute;
    right: $spacing * 2;
    top: $spacing;
    display: flex;
    z-index: 20;

    button {

      .icon {
        font-size: 2rem;
        color: white;
        margin-left: $spacing;
        cursor: pointer;
      }
    }
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  padding-left: $spacing * 2;
  padding-right: $spacing * 2;
}

.album-art {
  width: 50vh;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0 100px 10px #00000030;
}

.meta {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacing * 2;
}

.top,
.bottom {
  height: 25vh;
  display: flex;
}

.top {
  align-items: flex-end;
  padding-bottom: $spacing;

  .track-name {
    font-size: 3rem;
  }
}

.bottom {
  padding-top: $spacing;
  color: white;
  flex-direction: column;
  align-items: flex-start;

  .artists {
    font-size: 2rem;
    margin-bottom: $spacing;
  }

  .price {
    font-size: 1.5rem;
  }
}

.preview {
  height: 10vh;
  display: flex;
  align-items: center;

  .play-button {
    margin-right: $spacing;

    .icon {
      color: white;
    }
  }

  .track {
    height: inherit;
    display: flex;
    align-items: center;

    .bar {
      width: 5px;
      margin-right: 3px;
      background-color: white;
      max-height: 8vh;
    }
  }
}

// Animations

.slide-in-left-enter,
.slide-in-left-leave-to {
  transform: translateX(-60vh);
}

.slide-in-left-enter-active,
.slide-in-left-leave-active {
  transition: transform ease 0.5s 0.2s;
}

.slide-in-left-enter-to,
.slide-in-left-leave {
  transform: translateX(0);
}

// --------

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
  transform: translateY($spacing);
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: all ease 0.5s 0.4s;
}

.fade-in-enter-to,
.fade-in-leave {
  opacity: 1;
  transform: translateY(0);
}

// --------

.slide-in-up-enter,
.slide-in-up-leave-to {
  transform: translateY(50vh);
}

.slide-in-up-enter-active,
.slide-in-up-leave-active {
  transition: transform ease 0.5s;
}

.slide-in-up-enter-to,
.slide-in-up-leave {
  transform: translateY(0);
}
</style>
