<template>
  <div class="page-not-found">
    <span>404</span>
    <h1>Page not found</h1>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
  .page-not-found {
    padding: $spacing * 4;
  }

  span {
    position: absolute;
    font-size: 80vmin;
    color: #eaeaea;
  }

  h1 {
    font-size: 10vmin;
    position: relative;
    z-index: 10;
  }
</style>
